body {
   background-color: #f3f3f3!important;
   /* color: #fff!important; */
}

.header-area {
   margin: 2% auto auto auto;

}

.controllers {
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:normal;
}

@media (max-width: 768px) {
   .controllers{
      align-items: center!important;
   }
}

.color-pick{
   margin-bottom: 10px;
}

.color-pick>label{
   vertical-align: top;
}

/* #colorpicker {
   margin-left: 15px;
} */
#value{
   display: inline-block;
   /* margin-left: 5px; */
}
.canvas-wrapper {
   display: inline-block;
}

.canvas {
   display: flex;
   justify-content: flex-start;
   /* gap: 1px; */
   flex-wrap: wrap;
   max-width: 500px;
   height: 500px;
   margin: 3% auto;
   background-color: #f8f8f8;
   /* border: 1px solid #494e4c; */
   box-shadow: 0px 0px 3px 1px #616161a7;
}

@media (max-width: 992px) {
   .canvas{
      max-width: 450px;
      height: 450px;
   }
}

@media (max-width: 600px) {
   .canvas{
      max-width: 400px;
      height: 400px;
   }
}

.grid {
   box-sizing: border-box;
   background-color: #fff;
   /* margin: -1px; */
}

.controls {
   /* margin: 5px auto; */
}

@media (max-width: 765px) {
   .controls{
      width: 50%;
   }
}

